<html>
<head>
	<title></title>
</head>
<body>
<form action="{%url 'task_manager:edit_task' task.id %}" method="post">
	{%csrf_token%}
	{{form.as_p}}
<input type="submit" value="Submit" />
</form>
	
</body>
</html>
