{% include "index.html" %}

{% block content %}

<table border="5" style="width:70%">
    <tr>
        <th>Name</th>
        <th>Description</th> 
        <th>Due date</th>
    </tr>
    {% for task in task_list %}
    <tr>
        <td>
        <a href="" class="name" data-name="name" data-type="text" data-placement="right" data-pk="{{task.pk}}" data-url="{% url 'task_manager:edit_without_refresh' %}" data-title="name">{{ task.name }}</a>
        </td> 
        <td>
        <a href="" class="description" data-name="description" data-type="text" data-placement="right" data-pk="{{task.pk}}" data-url="{% url 'task_manager:edit_without_refresh' %}" data-title="description">{{ task.description }}</a>
        </td> 
        <td>
        <a href="" class="due_date" data-name="due_date" data-type="text" data-placement="right" data-pk="{{task.pk}}" data-url="{% url 'task_manager:edit_without_refresh' %}" data-title="due_date">{{ task.due_date }}</a>
        </td> 
        <td><a href="{{ task.delete_task }}">Delete</a></td>
        <td><a href="{{ task.task_edit }}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
        <span class="success" ></span>
        <span class="error"></span>

{% endblock %}
